html{
	line-height: 1em;
	color: #2A2A29;
	height: 100%;
}
body{
	background: #ECECEC;
	padding-bottom: 0 !important;
	height: 100%;
}
h1, h2, h3, h4, h5, h6, p, div, span, li, a, blockquote, cite{
	font-family: 'Open Sans', "Segoe UI", sans-serif !important;

}
#wrapper{
	font-size: 1em;
	min-height: 90%;
	height: auto !important;
	height: 100%;
}
.row, .contain-to-grid .top-bar{
	max-width: 100%;
}
#content, .container{
	padding: 20px;
}
#content header{
	padding-bottom: 0.5em;
	margin-bottom: 1em;
}
/**
 * Typography
 ***************************************/
	h1, h2, h3, h4, h5, th, header{
		font-weight: normal;
		color: #272727;
		text-rendering: auto;
	}
	header h1, header h2, header h3, header h4{
		font-weight: normal;
		margin-bottom: 0;
		padding-bottom: 0;
		color: #272727;
	}
	header h1{
		font-size: 2em;
	}
	header h2{
		font-size: 1.5em;
	}
	header h3{
		font-size: 1.4em;
	}
	header h4{
		font-size: 1.3em;
	}
	table thead tr th{
		font-size: 1em;
		font-weight: 600;
		background-color: #ECECEC;
		border: solid #DADADA 1px;
	}
	table thead > tr + tr  >th{
		border-top: solid #DADADA 1px;
		border-bottom: solid #DADADA 1px;
	}
	table tbody tr td, table tfoot tr td{
		border-bottom: solid #DADADA 1px;
	}
	 table tfoot tr td{
		background-color: #FFF;
	 }
	 table tbody .button{
		margin-bottom: 0;
	}
	 table tfoot .button{
		margin-bottom: 1em;
	}
	table tfoot tr th, table tfoot tr td{
		padding: 0.5em;
	}
	strong{
		font-weight: 600;
	}
	table thead tr th, table thead tr th a{
		font-size: 13px;
		font-weight: bold !important;
	}
	table thead tr th{
		border-right: solid #DADADA 1px;
		border-left: solid #DADADA 1px;
	}
	form label{
		font-size: 14px;
	}
	table, .panel{
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	}

/**
 * Hacks
 ***************************/
	.contain-to-grid .top-bar{
		margin-bottom: 0;
		width: 100%;
		background-color: #E6E6E6;
		box-shadow: 0 1px 3px #BBBBBC;
	}
	.fixed{
		z-index: 9999;
	}
	select.hidden-field{
		position: absolute !important;
	}
	.has-tip{
		font-weight: normal;
	}
	small{
		font-size: 80%;
		opacity: 0.85;
	}

	select{
		-webkit-border-radius: 0;
		border-radius: 0;
		background-color: #fff;
		font-family: inherit;
		border: 1px solid #ccc;
		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
		color: rgba(0,0,0,0.75);
		display: block;
		font-size: 0.875em;
		margin: 0 0 1em 0;
		padding: 0.5em;
		height: 2.3125em;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
		-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
		transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	}

	/***** Fix Block Grid and Clearing Compatibility *****/
	[class*="block-grid-"] li {
	    margin-right:0!important;
	}
	.clearing-blackout li {
	    clear:inherit!important;
	}

.contain-to-grid{
	background-color: #2D3235;
}
.panel{
	background-color: #FFFFFF;
	border: none;
}
.content .panel{
	border: solid  rgb(217, 217, 217) 1px;
}
.section-container.auto>section>.content,
.section-container.auto>.section>.content{
	border: none;
}
.section-container.auto>section>.title,
.section-container.auto>.section>.title{
	border: none;
}
.section-container.auto>section.active>.title a,
.section-container.auto>.section.active>.title a{
	font-weight: bold;
	text-shadow: 0px 1px 1px  #EFEFEF;
}
.section-container.vertical-tabs>section.active>.title,
.section-container.vertical-tabs>.section.active>.title{
	background-color: #FFF;
	border-right: #FFF;
}

.section-container.vertical-tabs>section>.title,
.section-container.vertical-tabs>.section>.title{
	text-align: right;
}

#group_permissions h3.title{
	padding: 0;
	background: none;
	border: none;
}
#group_permissions h3.title a{
	padding: 0;
	color: #555;
}
#group_permissions .section-container > section{
	border-top: none;
	margin-bottom: 1em;
}
#group_permissions .section-container > section > .content .content{
	border: none;
}
#group_permissions .section-container{
	border: none;
}

.top-bar-section li a:not(.button) {
	background-color: #E6E6E6;
	color: #272727;
	padding: 8px 15px 2px;
	line-height: 35px;
	font-weight: 600;
	color: rgba(0,0,0,0.6);
    	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.top-bar-section ul li:hover>a{
	background-color: #E6E6E6;
	color: #272727;
	/*border-bottom: solid #272727 2px;*/
}
.top-bar-section li a:not(.button):hover {
	background-color: #E6E6E6;
}
.top-bar-section li.has-dropdown .dropdown{
	border-top: solid #272727 2px;
	box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}
.top-bar-section .has-dropdown>a:after{
	top: 0.9em;
	color: #272727;
	font-family: FontAwesome;
	content: '\f107';
	border: none;
	font-size: 1.2em;
	background-color: #999;
}

/**
 *  Top bar search form
 ***************************/
#search-form{
	display: none;
}

/**
 * Footer Layout
 **************************/
	#footer{
		background-color: #E6E6E6;
		box-shadow: 0 -1px 3px #BBBBBC;
		text-align: left;
		color: #2D3235;
		min-height: 2em;
		clear: both;
		text-transform: uppercase;
		width: 100%;
		opacity: 0.8;
	}
	#footer p{
		margin: 0;
		font-size: 0.8em;
	}
	#footer .container{
		position: relative;
	}

/**
 * Table Layout
**************************/
	table{
		width: 99.9%;
		background-color: #FFF; /** overriding bootstrap table color, was transparent **/
	}
	table thead th, table tfoot td{
		color: #333;
	}
	table tr td, table tr th{
		vertical-align: top;
		padding: 1em;
	}
	form label{
		font-size: 0.85rem;
		margin-bottom: 0.4em;
		font-weight: 600;
	}
	table th a.has-tip{
		display: block;
		text-decoration: none;
		border-bottom: none
	}
	table th a.has-tip:hover{
		border: none;
	}
	table  tfoot tr td{
		padding-bottom: 0;
	}
	table tfoot td .pagination .button{
		margin-bottom: 0;
	}

/**
 * Top Bar
 **************************/
	.top-bar .name h1, .top-bar .name h1>a{
		font-size: 1.3em;
		background-color: #999;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}
	.top-bar .name h1>a>i{
		background-color: #999;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		color: transparent;
		text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
	}
	.top-bar-section ul li a{
		font-weight: normal;
	}
	.top-bar-section ul li a i{
		display: inline-block;
		width: 1.1em;
		margin-right: 0.3em;
		text-align: right;
		font-size: 1.5em;
	}
	.top-bar .name h1 a{
		display: inline;
	}

/**
 * Delete form, immitated as a button
*********************************** */
	form.delete-form{
		margin: 0;
		display: inline;
	}
	label.inline{
		display: inline-block;
	}
	form label.inline{

	}
	form .inline span.radio, form .inline span.checkbox{
		display: inline-block;
		margin-right: 0.5em;
	}
	.filePlaceholder{
		position: relative;
		cursor: pointer;
	}
	.filePlaceholder .fileInput{
		opacity: 0;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2.3125em; /*  follow the input height of foundation */
		cursor: pointer;
		z-index: 2;
	}
	.filePlaceholder .fileRemove{ /*  the remobe buttom stay higher than the input, to make it clickable */
		position: relative;
		z-index: 3;
		display: none;
	}

	.filePlaceholder .fileRemove span{
		font-size: 0.875em;
	}
	.filePlaceholder .filePreviewer{
		position: relative;
		z-index: 3;
	}


/**
 * Login Form
 ************************************/
 #loginForm{
 	min-width: 300px;
 	max-width: 400px;
 	margin: 0 auto;
 	padding: 20px;
 	border-radius: 10px;
 	position: relative;
 	top: 100px;
 }

/**
 * Alert box component
 ************************************/
 .alert-box ul{
 	margin: 1em;
 	list-style-position: inside;
 }

 /**
  * Additional style to make color inpu looks like other input
  */
 input[type=color]{
 	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
	background-color: #fff;
	font-family: inherit;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.75);
	display: block;
	font-size: 0.875em;
	margin: 0 0 1em 0;
	padding: 0.1em;
	height: 2.3125em;
	width: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s,border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s,border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
 }

section{
	display: block;
}

section .container{
	padding: 0.9375em;
	background-color: #fff;
	border: solid 1px #ccc;
}

.tree-depth{
	color: #AAA;
}

#quickMenu{
	position : absolute;
	bottom: 0;
	right: 1em;
}

/** Navigation builder;'s tree
*******************************************/
#tree{
	background-color: #EFEFEF;
	box-shadow: 0 0 10px  #777;
	padding: 1em;
	border-radius: 1em;
}
#tree ol{
	list-style: none;
	margin: 0;
	margin-left: 1em;

}
#tree ol ol {
	border: none;
	margin-bottom: 1.3em;
	margin-top: 0.5em;
}
#tree ol ol:last-child{
	margin-bottom: 0;
}
#tree ol ol li{
	padding: 0.5em 1em;
	border: solid #AAA 1px;
/*	border-width: 0 0 0 1px;*/
	border-bottom: dashed #AAA 1px;
}
#tree .leave{
	cursor: pointer;
}
#tree ol.droppable{
	border: dashed #CCC 1px;
	padding: 10px;
}

#tree .dummy{
	border: dotted #888 1px;
}
.sortable-placeholder{
	background-color: #FFF;
	border: dashed 1px #888;
}

.button.small, .button.tiny, .button.medium, .button.small{
	font-size: 0.85em;
	font-weight: normal;
}

.top-bar-section ul li>a{
	font-size: 0.75em;
}
.f-dropdown{
	max-height: 500px;
	overflow-y: auto;
}

/** Password strength bar **/
.strengthTest{
	position: relative;
}
.strengthTest .meter{
	width: 0;
	transition: .3s;
}
.strengthTest .strengthText{
	position: absolute;
	top: -1.2em;
	text-align: right;
}
.strengthTest[data-score="0"] .meter{
	width: 10%;
}
.strengthTest[data-score="1"] .meter{
	width: 20%;
}
.strengthTest[data-score="2"] .meter{
	width: 35%;
}
.strengthTest[data-score="3"] .meter{
	width: 50%;
}
.strengthTest[data-score="4"] .meter{
	width: 75%;
}
.strengthTest[data-score="5"] .meter{
	width: 80%;
}
.strengthTest[data-score="6"] .meter{
	width: 90%;
}
.strengthTest[data-score="7"] .meter{
	width: 100%;
}

.bs-callout ul, .bs-callout ol, .indented{
	padding-left: 1em;
}

.error .label{
	text-align: left;
}
.error>small, .error small.error{
	background-color: inherit;
	color: inherit;
}


/**
 * force the reveal to be higher than the editor of Froala;
 */
.reveal-modal-bg{
	z-index: 1000;
}
.reveal-modal{
	z-index: 1001;
}
.close-reveal-modal::after{
	font-family: FontAwesome;
	content: '\f057';
	font-size: 2em;
	position: absolute;
	top: -.5em;
	right: -.5em;
	color: #000;
}

.chosen-container{
	min-width: 100%;
	min-height: 1.8em;
		min-height: 38px  !important;
}
.chosen-container-multi .chosen-choices{
	min-height: 38px  !important;
}
.chosen-container-single .chosen-single{
	min-height: 35px;
}
.chosen-container .chosen-single{
	background: none;
	border-radius: 0;
}


form > .row > .columns label.label-group{
	display: inline-block;
	width: 95%;
	padding-left: 10px;
}

/**
	 * Pie pecentage
	 */
	.pie {
		display: inline-block;
		background-color: #C2C2C2;
		border-radius: 50%;
		width: 2.5em;
		height: 2.5em;
		overflow: hidden;
		position: relative;
	}
	.pie > div {
		width: 50%;
		height: 100%;
		position: relative;
		overflow: hidden;
	}
	.pie span {
		background-color: #555;
		display: block;
		width: 100%;
		height: 100%;
	}
	.pie.lte-25 span {
		background-color: #555;
	}
	.pie.lte-50 span {
		background-color: #E70809;
	}
	.pie.lte-75 span {
		background-color: #3E9DDC;
	}
	.pie.lte-100 span {
		background-color: #5DA423;
	}
	.pie .left span {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		-webkit-transform-origin: 100% 50%;
		transform-origin: 100% 50%;

	}
	.pie .right span {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		-webkit-transform-origin: 0% 50%;
		transform-origin: 0% 50%;
	}
	.pie:before,
	.pie:after {
		border-radius: 50%;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
	.pie:before {
	    background-color: #fff;
	    content: "";
	    width: 75%;
	    height: 75%;
	    z-index: 100;
	}
	.pie:after {
		content: attr(data-percentage);
		z-index: 200;
		text-align: center;
		font-size: 80%;
	}

	.alert_percentage .pie{
		left: 10px;
		top: 3px;
	}
	a.percentage{
		height: 2.5em;
		display: inline-block;
		border: none;
	}
	.fa-spin {
		-webkit-transform-origin: 50% 40%;
		-moz-transform-origin: 50% 40%;
		-ms-transform-origin: 50% 40%;
		-o-transform-origin: 50% 40%;
		transform-origin: 50% 40%;
	}

	.chosen-container-multi .chosen-choices{
		padding: 4px;
	}
	.chosen-container-multi .chosen-choices li.search-choice{
		background: none;
		padding: 8px 20px 8px 5px;
	}

	.paginate-block{
		position: relative;
	}
	.loading::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.loading::before{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1em;
		margin-left: -1em;
		font-family: FontAwesome;
		font-size: 3em;
		content: '\f013';
		  -webkit-animation: spin 2s infinite linear;
		  -moz-animation: spin 2s infinite linear;
		  -o-animation: spin 2s infinite linear;
		  animation: spin 2s infinite linear;
	}
	@media only screen and (min-width: 940px){
		.top-bar-section .dropdown li .dropdown {
			top: -3px;
			border-left: solid #CCC 1px;
		}
	}

	@media only screen and (min-width: 768px) {
		#account-menu{
			position: relative;
			right: 22px;
			top: 3px;
		}
		#account-avatar{
		}
		#account-avatar strong{
			display: inline-block;
			margin-right: 1em;

		}
		#account-avatar img{
			display: inline-block !important;
			width: 40px;
			height: 40px;
			border-radius: 50px;
			border: solid #FFF 2px;
		}
		#account-menu .has-dropdown>a{
			padding: 0 !important;
			display: block;
			text-align: right;
			height: 42px;
		}
		#account-menu .has-dropdown>a:after{
			display: none;
		}
		#account-menu  .has-dropdown > li a:not(.button){
			background: none;
			padding: 0;
		}
		#account-menu  .has-dropdown > ul{

		}
		#account-menu{
			background: transparent;
		}
		#account-menu .dropdown li{
			text-align: right;
		}
	}
	@media only screen and (max-width: 40em) {
		.top-bar .toggle-topbar.menu-icon a{
			color: #333;
		}
		.top-bar .name h1, .top-bar .name h1>a{
			font-size: 1em;
			color: #333;
		}
		.top-bar.expanded .title-area{
			background: inherit;
			border-bottom: solid #CCC 3px;
		}
		.top-bar-section li{
			border-bottom: solid #CECECE 1px;
		}
		.top-bar-section .dropdown li.title h5{
			margin: 0;
		}
		.top-bar-section .dropdown li.title h5 a{
			color: #666;
			font-size: 1rem;
			padding: 10px;
		}
		.top-bar-section li.has-dropdown .dropdown{
			border-top: none;
		}

	}

	.top-bar-section .dropdown li{
		border-bottom: solid #CECECE 1px;
	}

.circular{
	border-radius: 999px;
	width: 2.5em;
	height: 2.5em;
	line-height: 2em;
	display: inline-block;
}
.has-tip, .has-tip:hover, .has-tip:focus{
	border-bottom: none;
}
.saving{
	position: relative;
}
.saving::after{
	content: '\f021';
	font-family: FontAwesome;
	position: absolute;
	top: 7px;
	right: 7px;
	  -moz-animation: fa-spin 2s infinite linear;
	  -o-animation: fa-spin 2s infinite linear;
	  -webkit-animation: fa-spin 2s infinite linear;
	  animation: fa-spin 2s infinite linear;
}

.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }

label.rubber-checkbox{
	display: inline-block;
	position: relative;
	margin-right: 1em;
}
label.rubber-checkbox input[type=radio],
label.rubber-checkbox input[type=checkbox]{
	opacity: 0;
	z-index: 2;
	position: relative;
	margin-right: 6px;
	cursor: pointer;

}
label.rubber-checkbox span{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 1em;
	height: 1em;
}
label.rubber-checkbox input[type=radio] + span::before,
label.rubber-checkbox input[type=checkbox] + span::before{
	content: '\f096';
	font-family: FontAwesome;
	font-size: 1.5em;
	color: #555;
	display: inline-block;
	transition: color 0.4s, font-size 0.2s;
}
label.rubber-checkbox input[type=radio]:checked + span::before,
label.rubber-checkbox input[type=checkbox]:checked + span::before {
	content: '\f046';
	color: green;
	font-size: 1.8em;
	transition: color 0.4s, font-size 0.2s;
}